@model Customer
@{

    ViewData["Title"] = "load";
    var data = Model.ToString();
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="row">

    <div class="col-2 offset-5 text-center ">
    <a asp-action="Reload" class="btn btn-primary">Refresh</a>
    </div>
</div>
<div class="row text-center">
    <div class="col-sm-6 offset-sm-3">
        <p>Company Name: @Model.CompanyName</p>
        <p>Family Name: @Model.FamilyName</p>
        <p>
            Address: @Model.BillAddr.Line1 @Model.BillAddr.City, @Model.BillAddr.CountrySubDivisionCode, @Model.BillAddr.PostalCode

        </p>
        <p>Phone: @Model.PrimaryPhone.FreeFormNumber</p>
        <p>Email: @Model.PrimaryEmailAddr.Address</p>

        <p>Acct Balance: @Model.Balance</p>
        <p>Credit Limit: @Model.CreditLimit</p>
        <p>Preferred Delivery Method: @Model.PreferredDeliveryMethod</p>


    </div>
</div>
